<h5>Application form</h5>

<form action="/job/{{job['id']}}/apply" method="post">
  <div>
    <label>Full name</label><br>
    <input  class="mb-2" type="text" required name="full_name" placeholder="jack op ">
  </div>

  <div>
    <label>Email</label><br>
    <input  class="mb-2"  type="email" required name="email" placeholder="abc@gmail.com ">
  </div>

  <div>
     <label>LinkedIn Url</label><br>
     <input class="mb-2" type="url" name="linkedin_url" 
            placeholder="https://www.linkedin.com/in/jackop">
  </div>

  <div>
    <label>Education</label><br>
    <textarea class="mb-2" name="education"></textarea>
  </div>

  <div>
    <label>Work Experience</label><br>
    <textarea class="mb-2" name="work_experience"></textarea>
  </div>

  <div>
    <label>Resume Url</label><br>
    <input class="mb-2" type="url" name="resume_url" placeholder="abc@gmail.com ">
  </div>

  <button type="submit">Submit</button>
  
</form>